<form class="form">
  <div class="form-right">
  <div class="form-top-right">
     <div class="back-button">
        <h1><a [routerLink]="'/treatments'"><b><</b></a></h1>
     </div>
      <div class="text">
        <h1>Make payment</h1>
        <h2>Your dates of payment</h2>
      </div>

  </div>
  <div class="form-body">
    <div class="form-body_right">
    <label class="form-label">CardHolder</label>
    <mat-form-field appearance="outline">
      <mat-label>Ej. Rodolfo Berra</mat-label>
      <input matInput>
    </mat-form-field>

    <label class="form-label">CardNumber</label>
    <mat-form-field appearance="outline">
      <mat-label>XXXX XXXX XXXX XXXX</mat-label>
      <input matInput  class="form-input">
    </mat-form-field>

    <div class="cards">
    <div class="card-expiration">
    <label class="form-label">CardExpiration</label>
    <mat-form-field appearance="outline">
      <mat-label>MM/YYYY</mat-label>
      <input matInput>
    </mat-form-field>
    </div>

    <div class="card-cvv">
    <label class="form-label">CVV  </label>
    <mat-form-field appearance="outline">
      <mat-label>XXX</mat-label>
      <input matInput>
    </mat-form-field>
    </div>
    </div>
    </div>
      <div class="form-body_right-down">
        <div class="right">
          <h2>Total amount</h2>
          <h3>S/120.00 PEN</h3>
        </div>
        <div class="left">
            <h2 class="nextButton">See details  --></h2>
        </div>
      </div>

      <mat-checkbox > Save dates for future transactions</mat-checkbox>

  </div>
  </div>


  <div class="form-body_left">
    <div class="img">
    <img src="https://info.marista.edu.mx/hubfs/blog%20img/Im%C3%A1genes%20Blog/universidad-marista-el-impacto-que-puede-tener-la-fisioterapia-y-rehabilitacion.jpg" alt="">
    </div>
    <div class="btn">
    <button mat-button class="div-button">Confirm</button>
    </div>
  </div>

</form>
