<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<mat-toolbar class="nav-bar">

  <img class="logo-nav" src="../assets/Theraphylogo.png" alt="Theraphy logo" >

  <div class="mat-spacer"></div>

</mat-toolbar>
<div class="page">
  <div class="menuleft">
    <mat-toolbar class="mat-menu-panel">
      <a mat-button><i class="fa-solid fa-house"></i>Home</a>
      <a mat-button><i class="fa-solid fa-circle-user"></i> Profile</a>
      <a mat-button [routerLink]="'/treatments'"><i class="fa-solid fa-person-walking"></i>Treatments</a>
      <a mat-button [routerLink]="'/physiotherapists'"><i class="fa-solid fa-user-doctor"></i>Physiotherapists</a>
      <a mat-button ><i class="fa-solid fa-calendar"></i>Appointments</a>
      <a mat-button ><i class="fa-solid fa-person-walking"></i>My Treatments</a>
      <a mat-button ><i class="fa-solid fa-user-doctor"></i>My Physiotherapists</a>

    </mat-toolbar>
  </div>

  <router-outlet></router-outlet>


</div>
