<div class="professional-profile">
  <div class="profile-header">
    <div class="profile-header_right">
     <li><h1><a [routerLink]="'/treatments'"><b><</b></a></h1>
     </li>
      <li><h1>Professional's profile</h1>
      </li>
    </div>
    <div class="profile-header_left">
      <button mat-raised-button class="div-button">Schedule an Appointment</button>
    </div>
  </div>

  <div class="profile-body">
    <div class="profile-body_right">
      <img src="https://info.marista.edu.mx/hubfs/blog%20img/Im%C3%A1genes%20Blog/universidad-marista-el-impacto-que-puede-tener-la-fisioterapia-y-rehabilitacion.jpg" alt="">
    </div>
    <div class="profile-body_left">
      <div class="profile-body-left_name">
      <h1>Dr. Valeria Laverde</h1>
        <h3>Physiotherapist</h3>
      </div>
      <ul class="profile_body_left-information-top">
        <ul class="card-information">
            <div class="card-information-img">
              <img src="https://info.marista.edu.mx/hubfs/blog%20img/Im%C3%A1genes%20Blog/universidad-marista-el-impacto-que-puede-tener-la-fisioterapia-y-rehabilitacion.jpg" alt="">
            </div>
            <div class="card-information-text">
            <li>
              <h3>mememe</h3>
            </li>
            <li>
            <h2>mimimi</h2>
            </li>
            </div>
        </ul>


          <ul class="card-information">
            <div class="card-information-img">
              <img src="https://info.marista.edu.mx/hubfs/blog%20img/Im%C3%A1genes%20Blog/universidad-marista-el-impacto-que-puede-tener-la-fisioterapia-y-rehabilitacion.jpg" alt="">
            </div>
            <div class="card-information-text">
            <li>
              <h3>mememe</h3>
            </li>
            <li>
              <h2>mimimi</h2>
            </li>
            </div>
          </ul>
         </ul>
      <ul class="profile_body_left-information-down">
          <ul class="card-information">
            <div class="card-information-img">
              <img src="https://info.marista.edu.mx/hubfs/blog%20img/Im%C3%A1genes%20Blog/universidad-marista-el-impacto-que-puede-tener-la-fisioterapia-y-rehabilitacion.jpg" alt="">
            </div>
            <div class="card-information-text">
              <li>
                <h3>mememe</h3>
              </li>
              <li>
               <h2>mimimi</h2>
              </li>
            </div>
          </ul>

          <ul class="card-information">
            <div class="card-information-img">
              <img src="https://info.marista.edu.mx/hubfs/blog%20img/Im%C3%A1genes%20Blog/universidad-marista-el-impacto-que-puede-tener-la-fisioterapia-y-rehabilitacion.jpg" alt="">
            </div>
            <div class="card-information-text">
            <li>
              <h3>mememe</h3>
            </li>
            <li>
              <h2>mimimi</h2>
            </li>
            </div>
          </ul>
      </ul>
    </div>
  </div>

  <div class="profile-footer">

    <div class="profile-footer_top">
      <h1>Education</h1>
    </div>
    <div class="profile-footer_body">
      <ul>
        <div class="university">
        <li>
          <h1>UPC</h1>
        </li>
        <li>
          <button mat-button class="div-button">Download</button>
        </li>
        </div>
        <div class="university">
        <li>
        <h1>PUCP</h1>
        </li>
        <li>
        <button mat-button class="div-button">Download</button>
        </li>
        </div>

      </ul>
    </div>

  </div>

  <div class="btn">
  <button mat-button class="div-button-reviews">Reviews</button>
  </div>

</div>
