@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.example-card {
  width: 370px;
  margin-bottom: 20px;
}

.list{
  margin-top: 10px;
  margin-left: 50px;

}

.list h1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

@media (max-width: 768px) and (min-width:425px) {

  .example-card {
    width: 300px;

  }

  .card-content-text{
    font-size: 100%;
  }

  .list h1{
    font-size: 20px;
    margin-bottom: 10px;
  }

}

@media (max-width: 425px)  {

  .example-card {
    width: 150px;

  }

  .card-content-text{
    font-size: 100%;
  }

  .list h1{
    font-size: 25px;
    margin-bottom: 20px;
  }
}


.card-left{
  flex-direction: column;

}

.card-titles{
  flex-direction: column;
}

.general-card{
  flex-direction: row-reverse;

}


.card-content-img{
  margin-left:90px;
  margin-top:10px;
  height:110px;
  width:90px;

}

.card-button{
  background-color: #bf2bfe;

}




body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #007aef;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #007aef;
  background: #007aef;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 80%;
  margin-left: 10.5vw;
  margin-bottom: 1vw;
  margin-top:3vw;

  transform: translate(-50%, -50%);
}
